{% extends 'almuerzos/base.html' %}
{% block content %}

<script id="name_input_html" type="text/template">
    <div class='row'>
        <div class='input-field col s12 m12'>
            <input class='validate' type='text' name='nombre' id='nombre' />
            <label style="text-align: center" for='nombre'>Ingresa tu nombre</label>
        </div>
    </div>
</script>

<script id="email_input_html" type="text/template">
    <div class='row'>
        <div class='input-field col s12 m12'>
            <input class='validate' type='email' name='email' id='email' />
            <label style="text-align: center" for='email'>Ingresa tu e-mail</label>
        </div>
    </div>
</script>

<script id="password_input_html" type="text/template">
    <div class='row'>
        <div class='input-field col s12 m12'>
            <input class='validate' type='password' name='password' id='password' />
            <label style="text-align: center" for='password'>Ingresa tu contraseña</label>
        </div>
    </div>

    <div class='row'>
        <div class='input-field col s12 m12'>
            <input class='validate' type='password' name='password2' id='password2' />
            <label style="text-align: center" for='password2'>Repite tu contraseña</label>
        </div>
    </div>
</script>

<script id="time_input_html" type="text/template">
<div>
              <div class="col s6 center-align">
                Hora apertura
              </div>
              <div class="col s6 center-align">
                Hora cierre
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">alarm</i>
                <input id="horaIni" name="horaIni" type="time" class="validate">
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">alarm</i>
                <input id="horaFin" name="horaFin" type="time" class="validate">
              </div>
            </div>
</script>

<script id="payment_input_html" type="text/template">
    <div class='row'>
        <div class='input-field col s12 m12'>
            Seleccione sus formas de pago:

                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box" name="efectivo" checked="checked" />
                    <label for="filled-in-box">Efectivo</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box2" name="credito" checked="checked" />
                    <label for="filled-in-box2">Tarjeta de Crédito</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box3" name="debito" checked="checked" />
                    <label for="filled-in-box3">Tarjeta de Débito</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box4" name="junaeb" checked="checked" />
                    <label for="filled-in-box4">Tarjeta Junaeb</label>
                </p>

        </div>
    </div>
</script>

<script>
    $(document).ready(function() {
        $('select').material_select();
        $("#userType").change(function() {
            var htmlString = "";
            var userType = $(this).val();
            if(userType!=0){
                htmlString += $("#name_input_html").html();
                htmlString += $("#email_input_html").html();
                htmlString += $("#password_input_html").html();
                if(userType != 3){
                    if(userType == 1){
                        htmlString += $("#time_input_html").html();
                    }
                    htmlString += $("#payment_input_html").html();
                }
            }
            $("#customFormArea").html(htmlString);
        });
    });
</script>

<div class="section"></div>

<main>

    <div class="section"></div>

    <h5 class="teal-text" style="text-align: center;">¡Regístrate!</h5>

    <div class="section"></div>

    <div class="container">

        <div class="z-depth-1 grey lighten-4 row" style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

            <form class="col s12 m12" method="post" action="/almuerzos/registration/">{% csrf_token %}

                <div class="input-field col s12 m12">
                    <select id="userType" name="userType">
                        <option value='0' disabled selected>Elige una opción</option>
                        <option value='1'>Vendedor fijo</option>
                        <option value='2'>Vendedor móvil</option>
                        <option value='3'>Cliente</option>
                    </select>
                    <label>Tipo de Usuario</label>
                </div>

                <div class="section" id="customFormArea"></div>

                <div class='row'>
                    <button type='submit' name='btn_login' class='col s12 m4 l8 btn btn-large waves-effect teal'>Registrarse</button>
                </div>

            </form>
        </div>
    </div>
    <div style="text-align: center;"><a class="grey-text"> ¿Ya tienes una cuenta? </a></a><a href="{% url 'login' %}">Inicia sesión</a></div>


    <div class="section"></div>
    <div class="section"></div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{% endblock %}
